<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="{{ STATIC_URL }}/static/css/general.css">
<script type="text/javascript" src="{{ STATIC_URL }} /static/jquery-3.4.1.min.js">
</script>
<script>
    var refreshing = false;

    function refresh(){
        $.ajax({
            type: 'GET',
            url: '/predictor/current/',
            success: function(data){
                console.log('done');
                $("#prediction").html(data['current']);
                $("#time").html(data['time']);
                $("#chance").html(data['chance'] + "%");

                if(refreshing) {
                    setTimeout(refresh, 1000);
                }else{
                    $("#status").html('Offline');
                }
            }
        })
    };

    function start_refresh(){
        refreshing = true;
        refresh();
        $("#status").html('Online');
        $("#refresh").attr("disabled",true);
        $("#stop_refresh").attr("disabled",false);
    }

    function stop_refresh() {
        refreshing = false;
        $("#refresh").attr("disabled",false);
        $("#stop_refresh").attr("disabled",true);
    }
</script>
<body>
<div class="main-content">
    <div class="prediction-content">
        <h3>
            <div id="status"> Offline </div>
            <div id="prediction" class="bar">{{ current }}</div>
        </h3>
    </div>
    <div class="button-content">
        <button id="refresh" type="button" class="custom-button" onclick="start_refresh();">
            Start
        </button>
        <button id="stop_refresh" type="button" class="custom-button" disabled = "true" onclick="stop_refresh();">
            Stop
        </button>
    </div>
    <div class="info-content">
        <h3>
            Last update: <div id="time" class="info-tag">{{ time }}</div>
        </h3>
        <h3>
            Certainty: <div id="chance" class="info-tag">{{ chance }}%</div>
        </h3>
    </div>
</div>


</body>

</html>